* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body { 
    font-family: 'Montserrat', sans-serif;
    background-color: #171717;
    color: #F3F4F6;
}

/* HEADER */
header {
    display: none;
}

/* FOOTER */
footer {
    background-color: #0A0A0A;
    padding: 0.65rem 1.28rem;
    font-size: 1.33rem;
}

footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

section {
    display: none;
}