<style>
.dropbtn {
  background-color: rgb(109 40 217);
  color: white;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: rgb(76 29 149);
}

.dropdown {
  float: right;
  position: relative;

}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  z-index: 1;
}

.dropdown-content a {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.show {display: block;}
</style>