{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
    Animeflix - Criar Conta
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
    <section class="secao">
        <div class="container">
            <form method="post">
                {% csrf_token %}
        
                <h1>Crie uma conta para continuar</h1>

                <div class="div-form-campos">
                    <div class="div-form-campo-legenda">
                        <div class="div-form-campo">
                            <label for="username">Usuário:</label>
                            <input type="text" name="username" id="username" placeholder="Nome de usuário" maxlength="150" autofocus required>
                        </div>

                        <p class="legenda">Obrigatório. No máximo 150 caracteres. Letras, números e @/./+/-/_ apenas.</p>
                    </div>

                    <div class="div-form-campo">
                        <label for="email">E-mail:</label>
                        <input type="email" name="email" id="email" placeholder="E-mail" maxlength="320" required>
                    </div>
                    
                    <div class="div-form-campo-legenda">
                        <div class="div-form-campo">
                            <label for="password1">Senha:</label>
                            <input type="password" name="password1" id="password1" placeholder="Senha" autocomplete="new-password" required>
                        </div>
                    
                        <div class="legenda">
                            <ul>
                                <li>A senha não pode ser muito parecida com o resto das suas informações pessoais.</li>
                                <li>Deve conter pelo menos 8 caracteres.</li>
                                <li>Não pode ser uma senha comumente utilizada.</li>
                                <li>Não pode ser inteiramente numérica.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="div-form-campo-legenda">
                        <div class="div-form-campo">
                            <label for="password2">Confirmação de senha</label>
                            <input type="password" name="password2" id="password2" placeholder="Confirmação de senha" autocomplete="new-password" required>
                        </div>


                        <p class="legenda">Informe a mesma senha informada anteriormente, para verificação.</p>
                    </div>

                    <button class="botao-form" type="submit">Criar Conta</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

{% block footer %}
{% endblock %}