{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Animeflix - {{ object.titulo }}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/anime.css' %}">
{% endblock %}

{% block main %}
    <section class="secao secao-anime secao-anime-display" style="background-image: url('{{ anime.background.url }}');">
        <div class="container-anime-display">
            <div class="div-titulo-categorias">
                {% if object.titulo|length > 50 %}
                    <div class="titulo-G">
                        <h1>
                            {{ object.titulo }}
                        </h1>
                    </div>
                {% else %}
                    <div class="div-titulo-normal">
                        <h1>
                            {{ object.titulo }}
                        </h1>
                    </div>
                {% endif %}

                

                <p class="p-categorias">
                    {% for categoria in object.categoria.all %}
                        {% if forloop.last %}
                            {{ categoria }}
                        {% else %}
                            {{ categoria }} |
                        {% endif %}
                    {% endfor %}
                </p>
            </div>

            {% if object.episodios.all %}
                {% for episodeo in object.episodios.all|dictsort:'temporada.temporadas'|dictsort:'tipo' %}
                    {% if episodeo.tipo == 'Abertura' and episodeo.temporada.temporadas == '1' %}
                        <a class="botao botao-play" href="{{ episodeo.link }}">
                            Play 
                            <ion-icon name="play"></ion-icon>
                        </a>
                    {% endif %}
                {% endfor %}

            {% else %}

                <a class="botao botao-play" href="#">
                    Play 
                    <ion-icon name="play"></ion-icon>
                </a>
            {% endif %}
        </div>
    </section>

    <section class="secao secao-anime">
        <div class="container-anime">
            <div class="div-topicos">
                <div class="div-topico-dropdown">
                    <div class="div-topico">
                        <h2>
                            Descrição:
                        </h2>
                    
                        <div>
                            <p>{{ object.descricao }}</p>
                            <p>Visualizações: {{ object.visualizacoes }}</p>
                        </div>
                    </div>

                    <div class="div-dropdowns">
                        {% if object.episodios.all|length > 0 %}
                            <select id="tipoDropdown">
                                <option value="all" class="default-dropdown-value">Tipo</option>
                                <option value="Abertura">Abertura</option>
                                <option value="Encerramento">Encerramento</option>
                            </select>
                            
                            <select id="temporadaDropdown">
                                <option value="all" class="default-dropdown-value">Temporada</option>
                                {% for temporada in object.temporadas.all %}
                                    <option value="{{ temporada.id }}">{{ temporada.temporadas }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    </div>
                </div>

                <div class="div-topico">
                    {% if object.episodios.all|length > 0 %}
                        <h2>
                            Episódios:
                        </h2>

                        <ul>
                            {% for episodeo in object.episodios.all|dictsort:'titulo'|dictsort:'temporada.temporadas'|dictsort:'tipo' %}
                                <li class="episode-item" data-temporada-id="{{ episodeo.temporada.id }}" data-tipo="{{ episodeo.tipo }}">
                                    <a href="{{ episodeo.link }}">
                                        {% if episodeo.tipo == 'Abertura' %}
                                            Abertura | Temporada {{ episodeo.temporada }}: {{ episodeo.titulo }}
                                        {% else %}
                                            Encerramento | Temporada {{ episodeo.temporada }}: {{ episodeo.titulo }}
                                        {% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    {% if Animes_Relacionados|length > 0 %}
        <section class="secao-wrapper">
            <div>
                <h2 class="titulo-wrapper">
                    Populares:
                </h2>

                <div class="wrapper">
                    <section id="relsection1">
                        {% if Animes_Relacionados|length > 4 %}
                            {% if Animes_Relacionados|length > 8 %}
                                <a href="#relsection3">
                                    <img src="{% static 'images/setaVoltar.svg' %}" alt="Seta para Voltar">
                                </a>

                            {% else %}

                                <a href="#relsection2">
                                    <img src="{% static 'images/setaVoltar.svg' %}" alt="Seta para Voltar">
                                </a>
                            {% endif %}
                        {% endif %}

                        {% for anime in Animes_Relacionados %}
                            {% if forloop.counter < 5 %}
                                <div class="item-wrapper">
                                    <a href="{% url 'anime:detalhes_anime' anime.pk %}">
                                        <img src="{{ anime.thumb.url }}" alt="Thumb {{ anime.titulo }}">
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}

                        {% if Animes_Relacionados|length > 4 %}
                            <a href="#relsection2">
                                <img src="{% static 'images/setaProx.svg' %}" alt="Seta para o Próximo">
                            </a>
                        {% endif %}
                    </section> 

                    {% if Animes_Relacionados|length > 4 %}
                        <section id="relsection2" >
                            <a href="#relsection1">
                                <img src="{% static 'images/setaVoltar.svg' %}" alt="Seta para Voltar">
                            </a>

                            {% for anime in Animes_Relacionados %}
                                {% if forloop.counter > 4 %}
                                    {% if forloop.counter < 9 %}
                                        <div class="item-wrapper">
                                            <a href="{% url 'anime:detalhes_anime' anime.pk %}">
                                                <img src="{{ anime.thumb.url }}">
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% if Animes_Relacionados|length > 4 %}
                                {% if Animes_Relacionados|length > 8 %}
                                    <a href="#relsection3">
                                        <img src="{% static 'images/setaProx.svg' %}" alt="Seta para Voltar">
                                    </a>
                                {% else %}
                                    <a href="#relsection1">
                                        <img src="{% static 'images/setaProx.svg' %}" alt="Seta para Voltar">
                                    </a>
                                {% endif %}
                            {% endif %}
                        </section>
                    {% endif %}

                    {% if Animes_Relacionados|length > 8 %}
                        <section id="relsection3" >
                            <a href="#relsection2">
                                <img src="{% static 'images/setaVoltar.svg' %}" alt="Seta para Voltar">
                            </a>

                            {% for anime in Animes_Relacionados %}
                                {% if forloop.counter > 8 %}
                                    <div class="item-wrapper">
                                        <a href="{% url 'anime:detalhes_anime' anime.pk %}">
                                            <img src="{{ anime.thumb.url }}">
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}

                            <a href="#relsection1">
                                <img src="{% static 'images/setaProx.svg' %}" alt="Seta para o Próximo">
                            </a>
                        </section>
                    {% endif %}
                </div>
            </div>
        </section>
    {% endif %}
    
    <script src="{% static 'js/filterDropdown.js' %}"></script>
{% endblock %}

