{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
    Animeflix - Editar Perfil
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
    <section class="secao">
        <div class="container">
            <form method="post">
                {% csrf_token %}


                <h1>Edite os campos abaixo para editar seu perfil</h1>
                
                <div class="div-form-campos">
                    <div class="div-form-campo">
                        <div class="div-form-campo-legenda">
                            <div class="div-form-campo">
                                <label for="username">Usuário:</label>
                                <input type="text" name="username" id="username" placeholder="Nome de usuário" value="{{ request.user.username }}" maxlength="150" required>
                            </div>
                    
                            <p class="legenda">Obrigatório. 150 caracteres ou menos. Letras, números e @/./+/-/_ apenas.</p>
                        </div>
                    </div>
                    
                    <div class="div-form-campo">
                        <label for="email">E-mail:</label>
                        <input type="email" name="email" id="email" placeholder="E-mail" value="{{ request.user.email }}" maxlength="254">
                    </div>
                </div>
                

                <button class="botao-form" type="submit">Editar Perfil</button>
            </form>

            <div class="legenda">
                <a href="{% url 'anime:mudar_senha' %}">Quer mudar sua senha?</a>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
{% endblock %}