{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Animeflix - Animes
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/wrapper.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block main %}
    <section>
        <div>
            {% if anime_destaque.titulo|length < 8 %}
                <h2>
                    {{ anime_destaque.titulo }}
                </h2>
            {% else %}
                <h5>
                    {{ anime_destaque.titulo }}
                </h5>
            {% endif %}

            <p>
                {% for categoria in anime_destaque.categoria.all %}
                    {% if forloop.last %}
                        {{ categoria }}
                    {% else %}
                        {{ categoria }} |
                    {% endif %}
                {% endfor %}
            </p>

            <div>
                <a href="{% url 'anime:detalhes_anime' anime_destaque.pk %}">
                    <button>
                        <span>
                            Acessar
                        </span>
                    </button>
                </a>
            </div>
        </div>
    </section>

    <section>
        <div>
            <h2>
                Novo:
            </h2>

            <div>
                <section>
                    <a href="#section3" class="page">‹</a>

                    {% for anime in lista_animes_recentes %}
                        {% if forloop.counter < 5 %}
                            <div>
                                <a href="{% url 'anime:detalhes_anime' anime.pk %}">
                                    <img src="{{ anime.thumb.url }}">
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}

                    <a href="#section2">›</a>
                </section>

                {% if lista_animes_recentes|length > 4 %}
                    <section>
                        <a href="#section1" class="page">‹</a>

                        {% for anime in lista_animes_recentes %}
                            {% if forloop.counter > 4 %}
                                {% if forloop.counter < 9 %}
                                    <div>
                                        <a href="{% url 'anime:detalhes_anime' anime.pk %}">
                                            <img src="{{ anime.thumb.url }}">
                                        </a>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        <a href="#section3">›</a>
                    </section>
                {% endif %}

                {% if lista_animes_recentes|length > 8 %}
                    <section>
                        <a href="#section2">‹</a>

                        {% for anime in lista_animes_recentes %}
                            {% if forloop.counter > 8 %}
                                <div>
                                    <a href="{% url 'anime:detalhes_anime' anime.pk %}">
                                        <img src="{{ anime.thumb.url }}">
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}

                        <a href="#section1">›</a>
                    </section>
                {% endif %}
            </div>
        </div>
    </section>

    <section>
        <div>
            <h2>
                Populares:
            </h2>

            <div>
                <section>
                    <a href="#popsection3" class="page">‹</a>

                    {% for anime in lista_animes_popular %}
                        {% if forloop.counter < 5 %}
                            <div>
                                <a href="{% url 'anime:detalhes_anime' anime.pk %}">
                                    <img src="{{ anime.thumb.url }}">
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}

                    <a href="#popsection2">›</a>
                </section>

                {% if lista_animes_popular|length > 4 %}
                    <section>
                        <a href="#popsection1" class="page">‹</a>

                        {% for anime in lista_animes_popular %}
                            {% if forloop.counter > 4 %}
                                {% if forloop.counter < 9 %}
                                    <div>
                                        <a href="{% url 'anime:detalhes_anime' anime.pk %}">
                                            <img src="{{ anime.thumb.url }}">
                                        </a>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        <a href="#popsection3">›</a>
                    </section>
                {% endif %}

                {% if lista_animes_popular|length > 8 %}
                    <section>
                        <a href="#popsection2">‹</a>

                        {% for anime in lista_animes_popular %}
                            {% if forloop.counter > 8 %}
                                <div>
                                    <a href="{% url 'anime:detalhes_anime' anime.pk %}">
                                        <img src="{{ anime.thumb.url }}">
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}

                        <a href="#popsection1">›</a>
                    </section>
                {% endif %}
            </div>
        </div>
    </section>

    {% if request.user.animes_vistos.all|length > 0 %}
        <section>
            <div>
                <h2>
                    Animes Vistos:
                </h2>

                <div>
                    <section>
                        <a href="#viewsection3" class="page">‹</a>

                        {% for anime in request.user.animes_vistos.all|dictsort:'titulo' %}
                            {% if forloop.counter < 5 %}
                                <div>
                                    <a href="{% url 'anime:detalhes_anime' anime.pk %}">
                                        <img src="{{ anime.thumb.url }}">
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}

                        <a href="#viewsection2">›</a>
                    </section>

                    {% if request.user.animes_vistos.all|length > 4 %}
                        <section>
                            <a href="#viewsection1" class="page">‹</a>

                            {% for anime in request.user.animes_vistos.all|dictsort:'titulo' %}
                                {% if forloop.counter > 4 %}
                                    {% if forloop.counter < 9 %}
                                        <div>
                                            <a href="{% url 'anime:detalhes_anime' anime.pk %}">
                                                <img src="{{ anime.thumb.url }}">
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            <a href="#viewsection3">›</a>
                        </section>
                    {% endif %}

                    {% if request.user.animes_vistos.all|length > 8 %}
                        <section>
                            <a href="#viewsection2">‹</a>

                            {% for anime in request.user.animes_vistos.all|dictsort:'titulo' %}
                                {% if forloop.counter > 8 %}
                                    <div>
                                        <a href="{% url 'anime:detalhes_anime' anime.pk %}">
                                            <img src="{{ anime.thumb.url }}">
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}

                            <a href="#viewsection1">›</a>
                        </section>
                    {% endif %}
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}
