{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Animeflix - Homepage
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block main %}
    <section class="secao secao1">
        <div class="container container-secao1">
            <div class="texto-secao1">
                <h1>
                    Aberturas e Encerramentos de Animes, tudo em um só lugar.
                </h1>

                <div class="subtitulo-secao1">
                    <h2>
                        Assista onde quiser. Cancele quando quiser.
                    </h2>

                    <h3>
                        Quer começar? Coloque seu e-mail abaixo para acessar.
                    </h3>
                </div>
            </div>
            
            <a class="botao botao-acessar" href="{% url 'anime:login' %}">
                <p>Acessar</p>
    
                <ion-icon name="chevron-forward-outline"></ion-icon>
            </a>
        </div>
    </section>

    <section class="secao">
        <div class="container container-resto-secoes">
            <div class="texto-resto-secoes">
                <h2>
                    Anime Sem Propagandas
                </h2>
                <p>
                    Assista na Smart TV, Playstation, Xbox, Chromecast, Apple TV, tocadores de Blu-Ray e muito mais.
                </p>
            </div>

            <div class="imagem">
                <img src="{% static 'images/tv.png' %}" alt="Televisão">
            </div>
        </div>
    </section>

    <section class="secao">
        <div class="container container-resto-secoes">
            <div>
                <img src="{% static 'images/wifi.svg' %}" alt="Símbolo Wifi Cortado">
            </div>

            <div class="texto-resto-secoes">
                <h2>
                    Offline Viewing
                </h2>
                <p>
                    Continue a assistir às suas séries favoritas mesmo longe de casa - obtenha Offline Viewing com um plano Mega Fan ou Ultimate Fan.
                </p>
            </div>
        </div>
    </section>

    <section class="secao">
        <div class="container container-resto-secoes">
            <div class="texto-resto-secoes">
                <h2>
                    Aproveite mais com Premium
                </h2>
                
                <p>
                    Novos episódios logo após a exibição no Japão
                    Animes sem anúncios
                    Acesso simultâneo em múltiplas telas
                </p>
            </div>
            
            <div>
                <img src="{% static 'images/icon.png' %}" alt="Icone Animeflix">
            </div>
        </div>
    </section>
{% endblock %}