{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
    Animeflix - Login
{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block main %}
    <section class="secao">
        <div class="container container-form">
            <form method="post">
                {% csrf_token %}
                <h1>Faça Login para continuar</h1>

                    
                <div class="div-form-campos">
                    <div class="div-form-campo">
                        <label for="username"> Usuário: </label>
                        <input type="text" name="username" id="username" placeholder="Nome de usuário" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required>
                    </div>

                    <div class="div-form-campo">
                        <label for="password"> Senha: </label>
                        <input type="password" name="password" id="password" placeholder="Senha" autocomplete="current-password" required>
                    </div>

                    <button class="botao-form" type="submit">Fazer Login</button>
                </div>
            </form>

            <p class="legenda">
                Não tem uma conta? 
            
                <a href="{% url 'anime:criar_conta' %}">Clique aqui para criar uma conta </a>
            </p>
        </div>
    </section>
{% endblock %}

{% block footer %}
{% endblock %}