{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Animeflix - Pesquisa
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/pesquisa.css' %}">
{% endblock %}

{% block main %}
    <section class="resultados">
          <div>
            {% if nenhum_resultado %}
                <h1>Nenhum resultado encontrado para: <span>"{{ termo_pesquisa }}"</span></h1>
                
            {% else %}
                {% if termo_pesquisa == None %}
                  <h1>Resultados da Busca:  <span>" "</span></h1>

                {% else %}
                  {% if object_list|length > 1 %}
                    <h1>Resultados da Busca: <span>"{{ termo_pesquisa }}"</span></h1>
                    
                  {% else %}
                    <h1>Resultado da Busca: <span>"{{ termo_pesquisa }}"</span></h1>
                  {% endif %}
                {% endif %}
              {% endif %}
          </div>

          <div class="div-grid">
            {% for anime in object_list|dictsort:'titulo' %}
              <div class="item">
                  <a href="{% url 'anime:detalhes_anime' anime.pk %}">
                    <img src="{{ anime.thumb.url }}" alt="Thumb {{ anime.titulo }}">
                  </a>
              </div>
            {% endfor %}
          </div>
    </section>
{% endblock %}