<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>
        {% block titulo %}
        {% endblock %}
    </title>

    {% load static %}
    <link rel="icon" type="imagex/png" href="{% static 'images/icon.ico' %}" >
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block header %}
        <header>
            {% include 'navbar.html' %}
        </header>
    {% endblock %}

    <main>
        {% block main %}
        {% endblock %}
    </main>

    {% block footer %}
        <footer>
            <ul>
                <li>&copy; 2024</li>
                <li> Feito com Python (Django)</li>
                <li>Animeflix</li>
            </ul>
        </footer>
    {% endblock %}
</body>
</html>