{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock %}

<a href="{% url 'anime:homepage' %}">
    <img class="logo-animeflix" src="{% static 'images/animeflix.png' %}">
</a>


<nav>
    {% if user.is_authenticated %}
        <form method="get" action="{% url 'anime:pesquisa_anime' %}">
            <input type="text" name="query" value="{{ request.GET.query }}" placeholder="Pesquisar...">
        </form>
        
        <ul>
            <li class="dropdown">
                <div class="div-username">
                    <p>{{ request.user.username}}</p>

                    <div>
                        <img src="{% static 'images/Flecha-dropdown-user.svg' %}" alt="Flecha dropdown user">
                    </div>
                </div>



                <ul>
                    {% if request.user.is_superuser %}
                        <li>
                            <a href="{% url 'admin:index' %}">
                                <div><img class="svg-admin" src="{% static 'images/Setting-Admin.svg' %}" alt="Simbolo setting admin"></div>

                                Editar site
                            </a>
                        </li>
                    {% else %}
                    {% endif %}


                    <li>
                        <a href="{% url 'anime:editar_perfil' request.user.pk %}">
                            <div>
                                <img class="svg-editar" src="{% static 'images/Edit-Perfil.svg' %}" alt="Simbolo editar perfil">
                            </div>

                            Editar perfil
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'anime:logout' %}">
                            <div>
                                <img class="svg-sair" src="{% static 'images/Sair.svg' %}" alt="simbolo sair">
                            </div>
                            
                            Sair
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    
    {% else %}
        <a class="botao-login" href="{% url 'anime:login' %}">
            Login
        </a>
    {% endif %}
</nav>